.banner {
  background: url("Sousou-No-Frieren-Wallpaper-4k-scaled.jpg") no-repeat center
    center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

h3 {
  text-shadow: 1px 1px #000000;
}
h4 {
  text-shadow: 1px 1px #000000;
}
